.mobile_div{
    display: none;
}

@media (max-width: 768px) {
    .desktop_div{
        display: none;
    }
    .mobile_div{
        display: block;
    }
}


#earthika_agro_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/image_slide/agro.jpg") top center;
  background-size: cover;
  position: relative;
}


#turmeric_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/image_slide/agro2.png") center;
  background-size: cover;
  position: relative;
}

#tomato_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/image_slide/tomato_slider.jpg") center;
  background-size: cover;
  position: relative;
}

#ginger_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/image_slide/ginger_slider.jpg")  center;
  background-size: cover;
  position: relative;
}
#green_chilli_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/image_slide/chilli_slider.jpg") center;
  background-size: cover;
  position: relative;
}

#compost_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/image_slide/compost_slider.jpg") center;
  background-size: cover;
  position: relative;
}

/*header .d-lg-block a {*/
/*    color: #083905 !important;*/
/*    font-weight: bold;*/
/*}*/
/*.carousel-item image{*/
/*  box-shadow:10px 10px gray;*/
/*}*/
#hero{
  background: #f5f8a0;
}