.mobile_div{
    display: none;
}

@media (max-width: 768px) {
    .desktop_div{
        display: none;
    }
    .mobile_div{
        display: block;
    }
}


#earthika_agro_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/site_images/earthika_slider_top/earthika_home_page.jpg") top center;
  background-size: cover;
  position: relative;
}


#turmeric_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/site_images/earthika_slider_top/turmeric_slider.jpg") center;
  background-size: cover;
  position: relative;
}

#tomato_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/site_images/earthika_slider_top/tomato_slider.jpg") center;
  background-size: cover;
  position: relative;
}

#ginger_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/site_images/earthika_slider_top/ginger_slider.jpg")  center;
  background-size: cover;
  position: relative;
}
#green_chilli_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/site_images/earthika_slider_top/chilli_slider.jpg") center;
  background-size: cover;
  position: relative;
}

#compost_top{
  width: 100%;
  height: 100vh;
  background: url("../img/shutter_stock/site_images/earthika_slider_top/compost_slider.jpg") center;
  background-size: cover;
  position: relative;
}