{% load static %}
<section id="services" class="services" >
    <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>TECHNOLOGY</h2>
{#            <p>Hi-Tech vertical farming in poly house to increase the yield. Agriculture activities including raising of crops and processing activities, post harvesting to produce, manufacture and process pure agro and natural Turmeric and Ginger product</p>#}
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-cube"></i></div>
                    <h4 class="title">30 Acre Production In 1 Acre</h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-horizontal-center"></i></div>
                    <h4 class="title">
                            Non-Conventional High Yield Production
                    </h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-network-chart"></i></div>
                    <h4 class="title">IOT Based Monitoring For Better Disease Control</h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-cloud"></i></div>
                    <h4 class="title">
                        Farming In Controlled Environment Within Poly-House Gives Better Management</h4>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 d-flex align-items-stretch mb-12 mb-lg-0 " style="margin-top: 20px">
                <img src="{% static 'assets/img/vertical_farming6.jpg' %}"  style="padding-right: 1%;width: 50%;">
                <img src="{% static 'assets/img/vertical_farming4.jpg' %}" style="padding-left: 1%;width: 50%;" >
{#                <img src="{% static 'assets/img/vertical_farming1.jpg' %}"  style="padding-right: 1%;width: 25%;">#}
{#                <img src="{% static 'assets/img/vertical_farming2.jpg' %}" style="padding-left: 1%;width: 25%;" >#}
{#                <img src="{% static 'assets/img/vertical_farming3.jpg' %}" style="padding-left: 1%;width: 25%;" >#}
{#                <img src="{% static 'assets/img/vertical_farming3.jpg' %}" style="padding-left: 1%;width: 25%;" >#}
            </div>
            {#            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">#}
            {#            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">#}
            {#              <div class="icon"><i class="bx bx-package"></i></div>#}
            {#              <h4 class="title"><a href="">PERFECT PACKAGING</a></h4>#}
            {#            </div>#}
            {#          </div>#}

        </div>
    </div>
</section>