{% load static %}
<section id="about" class="about">
    <div class="container">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>TURMERIC</h2>
            <p></p>

        </div>

        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/turmeric/turmeric4.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <h1 align="center">Turmeric powder</h1>
                    <p>Turmeric Powder is a bright yellow aromatic powder derived from the rhizome of a plant, which is a member of the ginger family. Organic Turmeric has long been recognized for its medicinal properties and has gained the interest of both the medical and scientific world, apart from its culinary uses. Turmeric contains more than 100 chemical compounds that contribute to its healing abilities.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <h1 align="center">Row Turmeric</h1>
                    <p>Organic raw turmeric is packed with anti-inflammatory properties, which helps relieving symptoms associated with both Rheumatoid arthritis and osteoarthritis, says consultant Nutritionist. Turmeric can also be used to treat inflammation caused due to eye infections.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/turmeric/turmeric6.jpg' %}" class="img-fluid" alt="">
                </div>
            </div><div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="{% static 'assets/img/turmeric/turmeric5.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <h1 align="center">Organic Turmeric Curcumin Powder</h1>
                    <p>Curcumin is a yellow pigment found primarily in turmeric, a flowering plant of the ginger family. It’s a polyphenol with anti-inflammatory properties and the ability to increase the amount of antioxidants that the body produces. Curcumin, the primary bioactive substance in turmeric, and has anti-inflammatory properties and decent evidence for indications from chronic pain to depression. Curcumin has poor bioavailability alone, necessitating special formulations to be efficiently absorbed.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <h1 align="center">Turmeric Essential Oil</h1>
                    <p>Organic Turmeric Essential Oil derived from steam distilled Turmeric rhizomes, which are sometimes referred to as root stalks, can be applied similarly, while its warm, earthy, woody aroma can even yield emotional benefits.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/turmeric/turmeric7.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>

        </div>



    </div>
</section>